* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 2;
}

body{
    background-image: url(/res/bmwbg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.bodyswap{
    opacity: 0;
    transition: opacity 0s;
    position:relative;
    height: 100vh;
}

.main{
    position: relative;
    display: grid;
    grid-template-rows: 2fr 1.2fr 0.5fr;
    height:100%;
}

.blur::before{
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);

    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    -moz-filter   : blur(4px);
    -webkit-filter: blur(4px);
    -o-filter     : blur(4px);
    filter        : blur(4px);
}

.plateblur{
    -moz-filter   : blur(4px);
    -webkit-filter: blur(4px);
    -o-filter     : blur(4px);
    filter        : blur(4px);
    
}


#gallerysticker{
    border-radius: 20px;
    position:relative;
    top:152px;
    right: 12px;
    
}

#garagedoor{
    left: 0;
    right: 0;
    height:100%;
    top: -1000px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/res/redGarage.jpg);
    background-size: cover;
    transition: top 2.5s ease-in-out;
    text-align: center;
    display: none;
    z-index: 92;
}
#gallerycontainer{
    display: none;
}

#gallery{
    width: 60%;
    height: 60%;
    margin: auto;
    background-color: rgb(214, 214, 214);
    border: solid white 5px;
    border-radius: 4%;
    position:relative;
    display: none;
}
#gallery img{
    max-height: 100%;
    max-width: 100%;
}
#gal1{
    z-index: 0;
    display:none;
}
#gal2{
display:none;
}
#gal3{
    z-index: 2;
}

#gallerynav{
    position:relative;
    overflow:hidden;
    display:flex;
    margin:auto;
    margin-top:0;
    font-size: 9.3vh;
    width:40%;
    height:4.7vh;
    text-align: center;
    justify-content: space-between;
}
#gallerynav i{
}

#garagehandle{
    font-size: 4.5rem;
}
#handlesub{
    margin-bottom:0.7vh;
}


.blinker{
    position:absolute;
    top:34.3%;
    width:100px;
    max-height: 57px;
    opacity:0;
    z-index:0;
    }
    #lblink{
        left:18.7%;
        transform:rotate(-8deg);
    }
    #rblink{
        transform: rotate(6deg) scaleX(-1);
        right:20%;
    }

#content{
    opacity:0;
    transition: 2s;
}

.intro {
    padding: 50%;
    border-radius: 20px;
    background-color:rgba(255,255,255,1);
    width: 100%;
    height:100%;
    display:flex;
    cursor:pointer;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:90;
    transition: all 3s ease-in-out;
}


.navig {
display:none;
}

#logo{
    cursor:pointer;
    text-decoration:none;
    width: 232px;
    max-height: 100px;
    position: relative;
}


#plate{
    z-index: 9;
    justify-self: center;
    align-self: flex-end;
}

#smlinks{
    display:flex;
    justify-content: center;
    column-gap: 13px;
    font-size: 1.8rem;
    list-style: none;
    align-self: flex-end;
    margin-bottom: 5px;
}
.sm{
    transition: 400ms ease-in-out;
}
.sm:hover{
    filter:invert(0.5);
}


.navig_menu{
    list-style:none;
    display:grid;
    justify-content: center;
    align-self: flex-start;
    grid-template-columns: auto;
}
.navig_item{
    background-color: null;
    transition: 800ms ease-in-out;
    z-index:2;
    grid-row-start:1;
    margin-top:38px;
}


.innernav{
    display:flex;
    transition: 1s;
    
}
.innernav img{
    transform: inherit;
}

#serv{
    transform: rotate(-5deg);
    grid-column-start: 1;
}
#serv:hover{
    transform: rotate(0) scale(2);
}
#cont{
    transform: rotate(5deg);
    grid-column-start: 3;
}
#cont:hover{
    transform: rotate(0) scale(2);
}

.stickrs{
    border-radius: 15px;
    width: 160px;
    cursor:pointer;
    transition: 1s;
}
.lrgstckr{
    box-shadow: 0 0 8px 7px rgb(255, 255, 255);
}
@media (min-width: 1180px) {
    body{
        background-size: 180vh;
    }
    #logo{
        width: 250px;
        max-height:110px;
    }
    
    .stickrs{
        width: 200px;
    }
    .navig_menu{
        margin-top: 18px;
    }
    #gallerysticker{
        margin-top:15px;
    }

}