* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}

html {
    height:100%;
}
body{
    background-image: url(/res/bmwbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -200px 0px;
}

.blinker{
position:absolute;
top:34.3%;
width:100px;
max-height: 57px;
opacity:0;
z-index:0;
}
#lblink{
    left:18.7%;
    transform:rotate(-8deg);
}
#rblink{
    transform: rotate(6deg) scaleX(-1);
    right:20%;
}


.bodyswap{
    height:100%;
    width:100%;
    max-height: max-content;
    position:relative;
    display:stretch;
    flex-direction: row;
    opacity: 0;
    background-image: url(/res/bmwbg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    transition: background-size 2.5s ease-in, opacity 0s;
}

#content{
    opacity:0;
    transition: 2s;
}

.intro {
    background-color:none;
    text-align: center;
    max-width: 100vw;
    height: 100vh;
    width: 100%;
    height:100%;
    display:flex;
    cursor:pointer;
    position:absolute; top: 0; left: 0;
    z-index:98;
    transition:2.5s ease-in;
    padding-bottom:2%;
}
#introimg{
    transition:3s;
}

@keyframes slideup{
    0% {top:0};
    100%{top:1000px};
}

#introtext{
    color:white;
    position: absolute; top:50%; left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 400;
    font-size:20vw;
    transition:1s;
    z-index: 4;
}
#introsub{
    color:rgb(0, 0, 0);
    font-weight:light;
    font-size:3vw;
    position: absolute; bottom:15%; right: 5%;
    animation: fadeIn 5s ease;
    animation-delay:4s;
    animation-fill-mode: backwards;
    z-index: 99;
}
@keyframes fadeIn{
    0%  {opacity: 0};
    100%    {opacity: 1};
}

.row{
    margin: 14% 12% 5% 12%;
    display:flex;
    justify-content: space-between;
    display:none;
}

.box{
    display: none;
    background-color: rgba(255,255,255,0.8);
    width: 35vw;
    height: 20vw;
    border-radius:  20px;
    text-align: center;
    position: relative;
}

.box h2{
    margin: 10px 15px;
    font-size: 3vw;
}

/*ALL LEFT BOX*/

#hands{
    font-size:20vw;
}
#hands:hover{
    transition: 1s;
}
/*ALL RIGHT BOX*/

#eye{
    font-size:20vw;
}
#eye:hover{
    transition: 1s;
}

.textslide{
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;top:0;left:0;
    transition: 1s;
}
.textslide:hover{
    background: rgba(222, 149, 23, 0.97);
}
.textslide h2{
    opacity:0;
    transition:1.3s;
}
.textslide:hover h2{
    opacity:1;
}
.textslide p{
    opacity:0;
    transition:1.3s;
    font-size: 1.6vw;
}
.textslide:hover p{
    opacity:1;
}


.navig {
display:none;
}

#logo{
    display:static;
    align-items:center;
    cursor:pointer;
    text-decoration:none;
    width: 220px;
    max-height:110px;
    border: 0px;
    transition:650ms ease-in-out;
    margin-bottom:15px;
}

#rAr{
    opacity: 1;
    align-self: center;
    display:none;
}

.midcolumn{
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right:20px;
}
#plate{
    z-index: 9;
    margin:auto;
}
#smlinks{
    display:flex;
    justify-content: center;
    column-gap: 5%;
    font-size: 3vh;
}
.sm{
    transition: 400ms ease-in-out;
}
.sm:hover{
    filter:invert(0.5);
}

.navig_menu{
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:100vh;
}
.navig_item{
    background-color: null;
    font-size:1.8rem;
    padding: 10px;
    border-radius: 8px;
    align-self: stretch;
    display:flex;
    opacity: 1;
    flex:1;
    transition: 625ms ease-in-out;
    z-index:1;
}

.navig_item:hover{
    background-color: rgba(255, 0, 0, 0.2);
}

.navig_links{
    color: #DEC017;
    display:flex;
    text-decoration:none;
    align-self: stretch;
    justify-content: center;
    flex:1;
}
.innernav{
    padding:0 0.5rem;
    border-radius: 5px;
    position:absolute;
    top:50%;
}
#serv{
    margin-left:10%;
}
#cont{
    margin-right:15%;
}

@-webkit-keyframes whitePulse {
    from {
        background-color: rgb(255, 125, 31);
        -webkit-box-shadow: 0 0 10px white;
   }
   to {
       background-color: rgb(255, 125, 31);
       -webkit-box-shadow: 0 0 10px white;
   }
}
@media(max-width: 900px){
    .bodyswap{
        flex-direction: column-reverse;
    }
    .introtext{
        font-size:1px;
    }
    .row{
      display:none;
    }
    .box{
        margin-top: 5%;
        max-width:40vw;
        max-height: 40vw;
        display:flex;
        justify-content: center;
    }
    .textslide h2{
        font-size: 4vw;
    }
    .textslide p{
        font-size: 2.8vw;
    }
    .navig_menu{
        align-self:stretch;
    }

    #mobilelogo{
        cursor:pointer;
        text-decoration:none;
        max-width: 25%;
        max-height:auto;
        align-self: center;
        position:absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    #logoitem{
        display:none;
    }
    .navig_item{
        font-size:6vw;
        flex-basis:auto;
        flex-grow: 1;
        padding-bottom: 5%;
    }
    .navig{
    display: flex;
    background: rgb(138, 174, 196);
    margin:0;
    height:10vh;
    top:0;
    position:relative;
    }
    .textslide{
        display:none;
    }
}