* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
    z-index: 2;
}

html {
    height:100%;
}
body{
    background-image: url(/res/bmwbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}


.bodyswap{
    width:100%;
    opacity: 0;
    height:100%;
    display:stretch;
    flex-direction: row;
    max-height: max-content;
    background:transparent;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    transition: background-size 2.5s ease-in, opacity 0s;
    position:relative;
}

.blur::before{
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);

    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    -moz-filter   : blur(4px);
    -webkit-filter: blur(4px);
    -o-filter     : blur(4px);
    filter        : blur(4px);
}

.plateblur{
    -moz-filter   : blur(4px);
    -webkit-filter: blur(4px);
    -o-filter     : blur(4px);
    filter        : blur(4px);
    
}

.blinker{
    position:absolute;
    top:34.3%;
    width:100px;
    max-height: 57px;
    opacity:0;
    z-index:0;
    }
    #lblink{
        left:18.7%;
        transform:rotate(-8deg);
    }
    #rblink{
        transform: rotate(6deg) scaleX(-1);
        right:20%;
    }

#content{
    transition: 2s;
}

.intro {
    padding: 50%;
    border-radius: 20px;
    background-color:rgba(255,255,255,1);
    width: 100%;
    height:100%;
    display:flex;
    cursor:pointer;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:98;
    transition: all 3s ease-in-out;
}

@keyframes slideup{
    0% {top:0};
    100%{top:1000px};
}

#introsub{
    color:rgb(0, 0, 0);
    font-weight:light;
    font-size:3vw;
    position: absolute; bottom:15%; right: 5%;
    animation: fadeIn 5s ease;
    animation-delay:4s;
    animation-fill-mode: backwards;
    z-index: 99;
}
@keyframes fadeIn{
    0%  {opacity: 0};
    100%    {opacity: 1};
}

.box{
    display: none;
    background-color: rgba(255,255,255,0.8);
    width: 35vw;
    height: 20vw;
    border-radius:  20px;
    text-align: center;
    position: relative;
}

.box h2{
    margin: 10px 15px;
    font-size: 3vw;
}

/*ALL LEFT BOX*/

#hands{
    font-size:20vw;
}
#hands:hover{
    transition: 1s;
}
/*ALL RIGHT BOX*/

#eye{
    font-size:20vw;
}
#eye:hover{
    transition: 1s;
}

.textslide{
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;top:0;left:0;
    transition: 1s;
}
.textslide:hover{
    background: rgba(222, 149, 23, 0.97);
}
.textslide h2{
    opacity:0;
    transition:1.3s;
}
.textslide:hover h2{
    opacity:1;
}
.textslide p{
    opacity:0;
    transition:1.3s;
    font-size: 1.6vw;
}
.textslide:hover p{
    opacity:1;
}


.navig {
display:none;
}

#logo{
    cursor:pointer;
    text-decoration:none;
    width: 232px;
    max-height: 100px;
}

#rAr{
    opacity: 1;
    align-self: center;
    display:none;
}

.midcolumn{
    text-align:center;
    display:flex;
    flex-direction: column;
    margin-right:20px;
    font-size: 1.2rem;
}
.midcolumn h1{
    color:white;
    position:absolute;
    bottom: 33%;
    right: 44%;
}
#plate{
    z-index: 9;
    margin:auto;
    margin-bottom:42.3vh;
}
#smlinks{
    display:flex;
    justify-content: center;
    column-gap: 5%;
    font-size: 3vh;
}
.sm{
    transition: 400ms ease-in-out;
}
.sm:hover{
    filter:invert(0.5);
}

.navig_menu{
    list-style:none;
    display:flex;
    flex-direction: row;
    height:100vh;
}
.navig_item{
    background-color: null;
    font-size:1.5rem;
    border-radius: 8px;
    display:flex;
    opacity: 1;
    flex:1;
    transition: 625ms ease-in-out;
    z-index:2;
}


.innernav{
    padding:2rem;
    border-radius: 5px;
    margin:auto;
    margin-bottom:28vh;
    display:flex;
    transition: 1s;
}
#serv{
    transform: rotate(-5deg) translateX(-4%);
    justify-content: end;
}
#cont{
    justify-content: start;
    transform: rotate(5deg);
}
#cont:hover{
    transform: none;
}
#serv:hover{
    transform: none;
}

.stickrs{
    border-radius: 12px;
    width: 40%;
    min-width: 150px;
    cursor:pointer;
    transition: 1s;
}
.lrgstckr{
    width: 90%;
    box-shadow: 0 0 6px 5px rgb(255, 255, 255);
}

@media(max-width: 900px){
    .bodyswap{
        flex-direction: column-reverse;
    }
    .introtext{
        font-size:1px;
    }
    .row{
      display:none;
    }
    .box{
        margin-top: 5%;
        max-width:40vw;
        max-height: 40vw;
        display:flex;
        justify-content: center;
    }
    .textslide h2{
        font-size: 4vw;
    }
    .textslide p{
        font-size: 2.8vw;
    }
    .navig_menu{
        align-self:stretch;
    }

    #mobilelogo{
        cursor:pointer;
        text-decoration:none;
        max-width: 25%;
        max-height:auto;
        align-self: center;
        position:absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    #logoitem{
        display:none;
    }
    .navig_item{
        font-size:6vw;
        flex-basis:auto;
        flex-grow: 1;
        padding-bottom: 5%;
    }
    .navig{
    display: flex;
    background: rgb(138, 174, 196);
    margin:0;
    height:10vh;
    top:0;
    position:relative;
    }
    .textslide{
        display:none;
    }
}