* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    overflow: hidden;
}

html {
    height:100%;
}
body{
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    background-color:black;
}

.bodyswap{
    height:100%;
    width:100%;
    display:stretch;
    flex-direction: column;
}

@keyframes slidein{
    0% {left:-20%};
    100%{left:70%};
}

@keyframes fadeIn{
    0%  {opacity: 0};
    100%    {opacity: 1};
}

.column{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:auto;
}

.serv_menu{
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    height: 80vh;
}

#servs{
    position:relative;
    justify-content: center;
    width:50vw;
    height:50vh;
}
#servs img{
position:absolute;
width:75%;
height: 75%;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
transition: 1.2s;
}
#servtxt{
    color:rgb(0, 255, 217);
    font-size:2.4rem;
    z-index: 44;
    margin-left:auto;
    margin-right:auto;
}
#instruct{
    position:absolute;
    color:white;
    top:60%;
    left:-70%;
    transition:2.5s;
}
#valet{
    top:0%;
    z-index:33;
}
#consult{
    top:15%;
    left:10%;
    z-index: 22;
}
#system{
    top:30%;
    left:20%;
    z-index:11;
}
.selectedVideo{
    opacity: 0;
}

.options{
    cursor:pointer;
    background-color: null;
    color:rgb(38, 38, 255);
    text-align: center;
    font-size:2.8rem;
    margin: 10px 15px;
    transition: all 1s;
}

.selected{
    font-size:4.5rem;
    color:white;
}

.options:hover{
    color:white;
}

#home{
    display:flex;
    flex-direction: column-reverse;
}

.navig {
display:none;
}
#logo{
    display:static;
    align-items:center;
    cursor:pointer;
    text-decoration:none;
    width: 14vw;
    max-height: 7vw;
    border: 0px;
    filter:invert(1);
    transition:650ms ease-in-out;
}
#logo:hover{
    filter:invert(0);
}
#rAr{
    opacity: 1;
    align-self: center;
    display:none;
}
#plate{
    z-index: 9;
    align-self: center;
}
#smlinks{
    display:flex;
    justify-content: center;
    column-gap: 1%;
    font-size: 3vh;
}
.sm{
    transition: 400ms ease-in-out;
}
.sm:hover{
    filter:invert(0.5);
}

@-webkit-keyframes whitePulse {
    from {
        background-color: white;
        -webkit-box-shadow: 0 0 10px white;
   }
   to {
       background-color: #ffffff;
       -webkit-box-shadow: 0 0 10px white;
   }
}
@media(max-width: 900px){
    .bodyswap{
        flex-direction: column-reverse;
    }
    .introtext{
        font-size:1px;
    }
    .row{
      display:none;
    }
    .box{
        margin-top: 5%;
        max-width:40vw;
        max-height: 40vw;
        display:flex;
        justify-content: center;
    }
    .textslide h2{
        font-size: 4vw;
    }
    .textslide p{
        font-size: 2.8vw;
    }
    .navig_menu{
        align-self:stretch;
    }

    #mobilelogo{
        cursor:pointer;
        text-decoration:none;
        max-width: 25%;
        max-height:auto;
        align-self: center;
        position:absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    #logoitem{
        display:none;
    }
    .navig_item{
        font-size:6vw;
        flex-basis:auto;
        flex-grow: 1;
        padding-bottom: 5%;
    }
    .navig{
    display: flex;
    background: rgb(138, 174, 196);
    margin:0;
    height:10vh;
    top:0;
    position:relative;
    }
    .textslide{
        display:none;
    }
}